<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de E-Commerce</title>
    <link rel="stylesheet" href="../assets/css/Accueil.css">
</head>
<body>
    <header class="header">
        <div class="logo">NovaMarket</div>
        <nav class="nav">
            <a href="#">Tendances</a>
            <a href="#">Précommandes Prochaines Sortie</a>
            <a href="#">Les promos de la semaine</a>
            <a href="#">Support 24/7</a>
        </nav>
        <div class="platforms">
            <a href="#">PC</a>
            <a href="#">Playstation</a>
            <a href="#">Xbox</a>
            <a href="#">Nintendo</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Rechercher...">
        </div>
        <div class="icons">
            <a href="../template/shop.html">&#128722;</a>  <!-- C'est une icône de panier -->
            <a href="login.html" id="user-icon">&#128100;</a> <!-- C'est une icône d'utilisateur -->
        </div>
    </header>
    <main>
        <section class="highlight">
            <div class="highlight-image">
                <img src="../assets/img/SiteWebBoutique.png" alt="Highlight Image">
            </div>
            <div class="highlight-info">
                <h1>Boutique : NovaMarket</h1>
                <span class="discount"></span>
                <span class="price"></span>
            </div>
        </section>
        <section class="trends">
            <h2>Tendances</h2>
            <div class="games">
                <div class="game">
                    <img src="../assets/img/manor-lords-pc-jeu-steam-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-50%</span>
                        <span class="title">Manor Lords</span>
                        <span class="price">20.17€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/v-rising-pc-jeu-steam-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-24%</span>
                        <span class="title">V Rising</span>
                        <span class="price">26.73€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/GhostofTsushimaDirector'sCut.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-23%</span>
                        <span class="title">Ghost of Tsushima: Director's Cut</span>
                        <span class="price">45.99€</span>
                    </div>
                </div>
            </div>
            <div class="games">
                <div class="game">
                    <img src="../assets/img/elden-ring-l-ombre-de-l-arbre-monde-pc-jeu-steam-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-23%</span>
                        <span class="title">Elden Ring Edition L'ombre de l'Arbre-monde</span>
                        <span class="price">61.49€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/ready-or-not-pc-jeu-steam-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-45%</span>
                        <span class="title">Ready or Not</span>
                        <span class="price">27.43€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/horizon-forbidden-west-complete-edition-complete-edition-pc-jeu-steam-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-27%</span>
                        <span class="title">Horizon Forbidden West Complete Edition</span>
                        <span class="price">43.99€</span>
                    </div>
                </div>
            </div>
            <div class="games">
                <div class="game">
                    <img src="../assets/img/sekiro-shadows-die-twice-goty-edition-goty-edition-pc-jeu-steam-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-44%</span>
                        <span class="title">Sekiro: Shadows Die Twice - GOTY Edition</span>
                        <span class="price">33.33€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/buckshot-roulette-pc-jeu-steam-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-17%</span>
                        <span class="title">Buckshot Roulette</span>
                        <span class="price">2.49€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/helldivers-2-super-citizen-edition-super-citizen-edition-pc-jeu-steam-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-29%</span>
                        <span class="title">Helldivers 2 Super Citizen Edition</span>
                        <span class="price">42.89€</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>© 2024 NovaMarket - Tous droits réservés</p>
            <nav class="footer-nav">
                <a href="#">Conditions de vente</a>
                <a href="#">Politique de confidentialité</a>
                <a href="#">Programme d'affiliation</a>
                <a href="#">Contactez-nous</a>
            </nav>
        </div>
    </footer>
    <script src="../assets/js/script.js"></script>
</body>
</html>
