<header>
    <div class="header">
        <div class="logo">
            <a href="/">
                <p id="N">N</p>
                <p id="o">o</p>
                <p id="v">v</p>
                <p id="a">a</p>
                <p id="M">M</p>
                <p id="A">a</p>
                <p id="r">r</p>
                <p id="k">k</p>
                <p id="e">e</p>
                <p id="t">t</p>
            </a>
        </div>
        
        <div class="platforms">
            <a href="/pc">PC</a>
            <a href="/playstation">Playstation</a>
            <a href="/xbox">Xbox</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Rechercher...">
        </div>
        <div class="icons">
            <a href="/panier">&#128722;</a>
            <a href="/login">&#128100;</a>
        </div>
    </div>
</header>