body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #fff;
}



/*===================================GAMES========================================*/


.games {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centrer les éléments */
    }
    
    .game {
        background-color: #282828;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        flex: 1 1 200px; /* Assurer que chaque carte occupe le bon espace */
        margin: 10px; /* Ajouter de l'espacement entre les cartes */
        max-width: 300px; /* Limiter la largeur maximale des cartes */
        transition: transform 0.3s; /* Ajouter une transition pour l'animation */
        }
        
    .game:hover {
        transform: scale(1.05); /* Agrandir légèrement l'image au survol */
    }
            
    .game img {
        width: 100%;
        border-radius: 10px;
    }
                
    .game-info {
        margin-top: 10px;
    }
                    
        .discount {
            color: orange;
        }

        .title {
            display: block;
            margin: 10px 0;
        }

        .discount {
            display: block;
            color: orange;
        }

        .price {
            display: block;
            font-weight: bold;
        }

/*======================================================================*/

/*==================================CAROUSEL================================*/

.support {
    position: absolute;
    top: 17%;
    
}

.carouselles {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #232121;
    border-radius: 20px;
}


#slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.slide {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: relative;
}

.info {
    display: block;
    justify-content: space-between;
}

#name {
    text-align: center;
    font-weight: bold;
}

#promo {
    text-align: center;
    color: #fff;
    background-color: orange;
    padding: 5px;
    width: 40px;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    top: 2%;
    right: 80%;
    z-index: 1;
}

#liked {
    position: absolute;
    top: 3%;
    right: 17%;
    font-size: 1.2em;
}

#game_img {
    width: 70%;
    position: relative;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}


.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.arrow.prev {
    left: 200px;
}
.arrow.next {
    right: 200px;
}
.dots {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 5px;
}
.dot {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;

}
.dot.active {
    background-color: #11ed20;
    border-color: #fff;
    border: solid 1px;
    width: 9px;
    height: 9px;
}
.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*==========================================================================*/



/* Parti Responsives :  */
@media (max-width: 1200px) {
    .game {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .search {
        text-align: left;
        margin-top: 10px;
    }

    .game {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .nav, .platforms {
        justify-content: center;
    }

    .game {
        flex: 1 1 calc(100% - 20px);
    }
}


