body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    padding: 10px 20px;
}

.logo-link {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s, transform 0.3s;
}

.logo-link:hover .logo {
    color: #888;
    transform: scale(1.1);
}

.nav a, .platforms a, .icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.nav a:hover, .platforms a:hover, .icons a:hover {
    text-decoration: underline;
}

.search input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.content {
    padding: 20px;
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.footer-content {
    background-color: #181818;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* Partie Responsive adapter pour les apareils */
@media (max-width: 1200px) {
    .game {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .search {
        text-align: left;
        margin-top: 10px;
    }

    .game {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .nav, .platforms {
        justify-content: center;
    }

    .game {
        flex: 1 1 calc(100% - 20px);
    }
}
