<footer>
    <div class="footer-content">
      <p>© 2024 NovaMarket - Tous droits réservés</p>
      <p class="fondateurs">fondateurs :</p>
      <p class="fondateurs">Alexandre Petitfrere  -  Hugo Bisserier</p>
    </div>
  </footer>