<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeux</title>
    <link rel="stylesheet" href="../template/assets/css/jeux.css">
</head>
<body>
    <header class="header">
        <a href="../template/accueil.html" class="logo-link">
            <div class="logo">NovaMarket</div>
        </a>
        <nav class="nav">
            <a href="../template/accueil.html#trends">Tendances</a>
            <a href="../template/accueil.html#preorders">Précommandes Prochaines Sortie</a>
            <a href="../template/accueil.html#promotions">Les promos de la semaine</a>
            <a href="../template/support.html">Support 24/7</a>
        </nav>
        <div class="platforms">
            <a href="../template/jeux.html#classics#">Playstation</a>
            <a href="../template/jeux.html#console-games">Xbox</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Rechercher...">
        </div>
        <div class="icons">
            <a href="shop.html">&#128722;</a> <!-- Icône de panier -->
            <a href="login.html" id="user-icon">&#128100;</a> <!-- Icône d'utilisateur -->
        </div>
    </header>
    <main>
        <!-- Jeux PS     -->
        <section id="classics" class="classics">
            <h2>Jeux Playstation</h2>
            <div class="games">
                <div class="game">
                    <img src="../assets/img/darkest-dungeon-ii-ps4-ps5-playstation-5-playstation-4-jeu-playstation-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-45%</span>
                        <span class="title">Darkest Dungeon II (PS4 / PS5)</span>
                        <span class="price">19.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/dreadout-remastered-collection-ps5-remastered-collection-playstation-5-jeu-playstation-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-45%</span>
                        <span class="title">DreadOut Remastered Collection PS5</span>
                        <span class="price">29.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/final-fantasy-xiv-online-starter-edition-ps4-ps5-starter-edition-playstation-4-playstation-5-jeu-playstation-store-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-25%</span>
                        <span class="title">Final Fantasy XIV Online Starter Edition (PS4 / PS5)</span>
                        <span class="price">39.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/predator-hunting-grounds-ps5-playstation-5-jeu-playstation-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-42%</span>
                        <span class="title">Predator: Hunting Grounds PS5</span>
                        <span class="price">49.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/resistance-retribution-ps4-ps5-playstation-5-playstation-4-jeu-playstation-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-18%</span>
                        <span class="title">Resistance: Retribution (PS4 / PS5)</span>
                        <span class="price">59.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/hauntii-ps4-ps5-playstation-4-playstation-5-jeu-playstation-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-75%</span>
                        <span class="title">Hauntii (PS4 / PS5)</span>
                        <span class="price">69.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/worshippers-of-cthulhu-ps5-playstation-5-jeu-playstation-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-32%</span>
                        <span class="title">Worshippers of Cthulhu PS5
                        </span>
                        <span class="price">79.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/stasis-bone-totem-ps4-ps5-playstation-4-playstation-5-jeu-playstation-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-13%</span>
                        <span class="title">Stasis: Bone Totem (PS4 / PS5)</span>
                        <span class="price">89.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/resident-evil-village-ps4-ps5-playstation-5-playstation-4-jeu-playstation-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-56%</span>
                        <span class="title">Resident Evil Village (PS4 / PS5)</span>
                        <span class="price">99.99€</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Xbox Section -->
        <section id="console-games" class="console-games">
            <h2>Jeux Xbox</h2>
            <div class="games">
                <div class="game">
                    <img src="../assets/img/system-shock-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-jeu-microsoft-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-29%</span>
                        <span class="title">System Shock (Xbox One / Xbox Series X|S)
                        </span>
                        <span class="price">19.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/fallout-76-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-jeu-microsoft-store-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-57%</span>
                        <span class="title">Fallout 76 (Xbox ONE / Xbox Series X|S)</span>
                        <span class="price">29.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/forza-horizon-4-pc-xbox-one-xbox-series-x-s-pc-xbox-one-xbox-series-x-s-jeu-microsoft-store-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-41%</span>
                        <span class="title">Forza Horizon 4 (PC / Xbox ONE / Xbox Series X|S)</span>
                        <span class="price">39.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/elden-ring-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-jeu-microsoft-store-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-49%</span>
                        <span class="title">Elden Ring (Xbox ONE / Xbox Series X|S)</span>
                        <span class="price">49.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/dead-by-daylight-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-jeu-microsoft-store-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-52%</span>
                        <span class="title">Dead by Daylight (Xbox ONE / Xbox Series X|S)</span>
                        <span class="price">59.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/the-elder-scrolls-v-skyrim-special-edition-xbox-one-xbox-series-x-s-special-edition-xbox-one-xbox-series-x-s-jeu-microsoft-store-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-37%</span>
                        <span class="title">The Elder Scrolls V: Skyrim Special Edition (Xbox ONE / Xbox Series X|S)</span>
                        <span class="price">69.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/cyberpunk-2077-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-jeu-microsoft-store-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-56%</span>
                        <span class="title">Cyberpunk 2077 (Xbox ONE / Xbox Series X|S)</span>
                        <span class="price">79.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/halo-wars-2-pc-xbox-one-xbox-series-x-s-pc-xbox-one-xbox-series-x-s-jeu-microsoft-store-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-26%</span>
                        <span class="title">Halo Wars 2 (PC / Xbox ONE / Xbox Series X|S)</span>
                        <span class="price">89.99€</span>
                    </div>
                </div>
                <div class="game">
                    <img src="../assets/img/state-of-decay-2-juggernaut-edition-pc-xbox-one-xbox-series-x-s-juggernaut-edition-pc-xbox-one-xbox-series-x-s-jeu-microsoft-store-europe-cover.jpg" alt="Game Image">
                    <div class="game-info">
                        <span class="discount">-39%</span>
                        <span class="title">State of Decay 2: Juggernaut Edition (PC / Xbox ONE / Xbox Series X|S)</span>
                        <span class="price">99.99€</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>© 2024 NovaMarket - Tous droits réservés</p>
            <nav class="footer-nav">
                <a href="conditions-de-vente.html">Conditions de vente</a>
                <a href="politique-de-confidentialite.html">Politique de confidentialité</a>
                <a href="programme-affiliation.html">Programme d'affiliation</a>
                <a href="contactez-nous.html">Contactez-nous</a>
            </nav>
        </div>
    </footer>
</body>
</html>
