<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" href="../template/assets/css/login.css">
</head>
<body>
    <header class="header">
        <div class="logo">NovaMarket</div>
        <nav class="nav">
            <a href="../template/accueil.html">Accueil</a>
            <a href="#">Tendances</a>
            <a href="#">Précommandes</a>
            <a href="#">Prochaines sorties</a>
            <a href="#">Support 24/7</a>
        </nav>
        <div class="platforms">
            <a href="../template/jeux.html#classics#">Playstation</a>
            <a href="../template/jeux.html#console-games">Xbox</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Rechercher...">
        </div>
        <div class="icons">
            <a href="shop.html">&#128722;</a>
            <a href="login.html" id="user-icon">&#128100;</a> 
        </div>
    </header>
    <main>
        <section class="login">
            <h2>Se connecter</h2>
            <form id="login-form">
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Mot de passe" required>
                <label for="file-upload" class="custom-file-upload">Choisir une image</label>
                <input id="file-upload" type="file" accept="image/*">
                <button type="submit">Se connecter</button>
            </form>
            <p>Pas encore inscrit ? <a href="register.html">S'inscrire</a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NovaMarket. Tous droits réservés.</p>
    </footer>
    <script src="assets/js/script.js"></script>
</body>
</html>
